:root{
    --menu-header: black;
    --menu-body: white; 
}

/*bases*/
.left_menu, .right_menu{
    background-color: var(--menu-body);
    position: fixed;
    width: 10vw;
    height: 10vh;
    overflow: hidden;    
    cursor: pointer;
    transition: 1s;
}

.left_menu{
    left: 0;
    border-bottom-right-radius: 50%;
}
.right_menu{
    right: 0;
    border-bottom-left-radius: 50%;
}


/* headers */
.menu_header{
    text-align: center;
    background-color: var(--menu-header);
    line-height: 10vh;
    color: white;
    height: 10vh;
}
/* content */
.menu_content{
    position: absolute;
    overflow: hidden;
    width: 100%;
}
/* aperture */
.left_menu.opened ,.right_menu.opened {
    width: 100vw;
    height: 100vh;
}

/** Aside Lists**/
.left_menu ul li{
    float: left;
    clear: both;
}