/* arañas */
.ver {
  width: 80%;
  margin: 0 auto;
  color: white;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 600px){
  .ver{
    width: 100%;
  }
}
.ver > div{
    border: 1px solid #8e8383;
}
.ver div img{
  width: 50%;
}
.ver div .hide img{
  width: 25%;
}